################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Merath/copilot-chat/34dade5d/sessions
/.vs/Merath/CopilotIndices/17.13.444.19527
/.vs/Merath/v17
/.vs/Merath/v17/.wsuo
/.vs/Merath/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite
