.publications-page {
  display: flex;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 328px;
  background: var(--merath-background);
  overflow: hidden;
}

.publications-grid {
  display: inline-grid;
  row-gap: 150px;
  column-gap: 120px;
  grid-template-rows: repeat(3, fit-content(100%));
  grid-template-columns: repeat(3, fit-content(100%));
}

.publication-item {
  width: 300px;
  height: 300px;
  border: 0 solid var(--taffy);
  background: var(--sds-color-slate-200);
  cursor: pointer;
  transition: opacity 0.3s;
}

.publication-item:hover {
  opacity: 0.8;
}
