.card {
  display: flex;
  min-width: 240px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
  flex: 1 0 0;
}

.card-icon {
  flex-shrink: 0;
}

.card-body {
  display: flex;
  min-width: 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.card-title {
  align-self: stretch;
  color: var(--sds-color-text-default-default);
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
}

.card-description {
  align-self: stretch;
  color: var(--sds-color-text-default-secondary);
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
