.menu-toggle-icon {
  width: 50px;
  height: 50px;
  display: block;
}

.menu-toggle-snake {
  fill: none;
  stroke: var(--merath-blue);
  transition: d 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
              fill 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-toggle-icon--white .menu-toggle-snake {
  stroke: #FFF;
}

.menu-toggle-head {
  fill: var(--merath-blue);
  transition: cx 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
              cy 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-toggle-icon--white .menu-toggle-head {
  fill: #FFF;
}
